<nav class="navbar">
    <div class="navbar-brand">
        <a routerLink="/" class="brand-link">Job Matcher</a>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <app-icon (click)="toggleNotif()" name="notification"></app-icon>
            @if (isNotificationsVisible) {
            <app-notification></app-notification>
            }
        </li>
        <li class="nav-item">
            <img src="" (click)="toggleMenu()" alt="profile" class="profile-image" />
            @if (isMenuVisible) {
            <app-profile></app-profile>
            }
        </li>
    </ul>
</nav>
